<!-- <!-- <div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile" method="post" name="csvfile">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div> 
<angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader> -->
<!-- <input #fileInput name="file" type="file" (change)="handleFileInput($event.target.file)">
<button mat-raised-button class="standard-button" (click)="upload()">Upload file</button> -->
<!-- <input type="file" ng2FileSelect [uploader]="uploader"/><!--  (change)="selectedFileOnChanged($event)" name="aaa" 
<button (click)="uploadFile()">点击上传</button> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"> <!-- 在小屏幕上通过navber-expand-sm会自动将导航栏原本是水平的变成垂直的 -->
  <a href="#" class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
      <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">大连美食查询系统</font></font></strong>
    </a>
  <div class="aaa">
   <ul class="navbar-nav">
         <li class="nav-item active">
             <a href="/price" class="nav-link">
            价格排行
              </a>
         </li>
         <li class="nav-item">
             <a href="/comment" class="nav-link">评论排行</a>
         </li>
      
         <li class="nav-item">
             <a href="/hot" class="nav-link">热度排行</a> 
            </li>
             <li class="nav-item">
              <a href="/upload" class="nav-link">上传美食信息</a>
         </li>    
     </ul>
 </div>
 </nav>

<div class="custom-file">
  <input type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
  <!-- <button class="" (click)="uploadFile()">Choose file</button> -->
  <button type="button" class="btn btn-secondary btn-lg "(click)="uploadFile()">Upload</button>
</div>
<div class="icon">
<i class="fa fa-upload fa-5x"></i>
</div>
    <div class="madeitcenter">
      <p class="float-right">
        <a href="/navder">Back to Home</a>
      </p>
      <p class="aboutp">这里是吃货的聚集地，大连美食查询系统帮助你查询最美味的美食！</p>
    </div>
    <div class="tiaofu">
      You made us stronger ! Thank you for you help !❤
    </div>