/* :host {
    display: flex;
    width: 100vw;
    height: 100vh;
} */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.text-center {
    width: 100%;
    height: 100%;
    margin-top: 0;
    /* 距离顶部9rem的距离 */
    display: flex;
    align-items: center;
    /* 让登录框居中显示 */
    justify-content: center;
    background-color: #cecece;
    /* background-color: chartreuse; */
}

/* .body{   
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #62c107;
} */
#login {
    display: flex;
    align-items: center;
    /* 让登录框居中显示 */
    justify-content: center;
    /*  background-color: chartreuse; */
    /* height: 550px; */
}

/* .loginbrand{
    position: fixed;
    top: 14%;
} */
.btn-block1 {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.body {
    background-color: #cecece
}

.container {

    max-width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    /* max-height: 100vh; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    top: 0;
}

.font-weight-normal {
    line-height: 3
}

.together {
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.somelogo {
    position: absolute;
    top: 0;
    right: 0;
    align-items: right;
    color: white;
    /* background-color: #fff; */
}

.i {
    padding: 10px;
}

.fa-github {
    padding: 10px;
}

.fa-wechat {
    padding: 10px;
}

.fa-weibo {
    padding: 10px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.recommend {
    position: absolute;
    bottom: 20px;
    font-family: cursive;
    font-size: x-large;
}

.link {
    position: fixed;
    top: 70%;
}

.welcome {
    position: absolute;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    top: 4%;
    width: 100%;
    /* text-align: center; */
    font-size: xx-large;
    font-family: inherit;

}